@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0d0d; 
  --foreground: #ffffff;
  --accent-gold: #c5a059;
  --accent-gold-hover: #e0bb7a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  overflow-x: hidden;
}

/* Para que los títulos se vean limpios */
h1, h2, h3 {
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  font-weight: 300;
}